<br />

<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>

  <p>
    the team consisit of people with ideas who created this community to help those who do not have time
    to go to a school or college because they are working. The programs are very flexible to the person's
    needs. We aim to help as many people to acquire education through a well explained videos which also
    demonstrates practical examples.
  </p>
</div>